<div class="page-header">
  <button ng-click="isFormOpen = !isFormOpen; false" class="btn btn-danger">
    <i class="glyphicon glyphicon-plus">
    </i>
    New Trip
  </button>
</div>

<div class="row">
  <div class="col-md-8">
   <div ng-include="'home/_new_trip_form.html'"></div>
    <div ng-repeat="trip in trips">
      <div ng-include="'trips/_trip.html'"></div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Top Trips for You (Fallback to most popular)</h3>
    <div ng-include="'trips/_recommended.html'"></div>
  </div>
</div>
