<div class="page-header">
  <button ng-click="isFormOpen = !isFormOpen; toggle = !toggle" class="btn btn-danger">
    <i class="glyphicon glyphicon-plus">
    </i>
    <span ng-show="!toggle">Add New Trip</span>
    <span ng-show="toggle">Hide Form</span>
  </button>
</div>

<form ng-submit="addTrip(new_trip_data)" class="well" ng-show="isFormOpen" id="newTripForm">
  <legend id="add_new_trip">Add a new Trip</legend>
  <div class='container-fluid typeahead-demo'>
    <label for="departure_city">Departure</label>
    <input type="text" ng-model="new_trip_data.departure_city" placeholder="Departure City"
    uib-typeahead="city for city in getCity($viewValue)"
    typeahead-loading="loadingLocationsDeparture" typeahead-no-results="noResultsDeparture" class="form-control">
    <i ng-show="loadingLocationsDeparture" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResultsDeparture">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>

    <label for="arrival_city">Arrival</label>
    <input type="text" ng-model="new_trip_data.arrival_city" placeholder="Arrival City"
    uib-typeahead="city for city in getCity($viewValue)"
    typeahead-loading="loadingLocationsArrival" typeahead-no-results="noResultsArrival" class="form-control">
    <i ng-show="loadingLocationsArrival" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResultsArrival">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>Departure At</h4>
        <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
        ng-model="new_trip_data.dt.departure_at" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>

      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </div>
</form>

